<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="bookList" resultType="HashMap">
		SELECT * FROM book
	</select>
	
	<select id="memberList" resultType="HashMap">
		SELECT * FROM member
	</select>
	
	<insert id="insertBook" parameterType="HashMap">
		INSERT INTO book (
			title,
			vol,
			series_title,
			series_no,
			author,
			ea_isbn,
			ea_add_code,
			set_isbn,
			set_add_code,
			set_expression,
			publisher,
			edition_stmt,
			pre_price,
			kdc,
			ddc,
			page,
			book_size,
			form,
			publish_predate,
			subject,
			ebook_yn,
			cip_yn,
			control_no,
			title_url,
			book_tb_cnt_url,
			book_introduction_url,
			book_summary_url,
			publisher_url,
			input_date,
			update_date
		)
		VALUES (
			#{TITLE},
			#{VOL},
			#{SERIES_TITLE},
			#{SERIES_NO},
			#{AUTHOR},
			#{EA_ISBN},
			#{EA_ADD_CODE},
			#{SET_ISBN},
			#{SET_ADD_CODE},
			#{SET_EXPRESSION},
			#{PUBLISHER},
			#{EDITION_STMT},
			#{PRE_PRICE},
			#{KDC},
			#{DDC},
			#{PAGE},
			#{BOOK_SIZE},
			#{FORM},
			#{PUBLISH_PREDATE},
			#{SUBJECT},
			#{EBOOK_YN},
			#{CIP_YN},
			#{CONTROL_NO},
			#{TITLE_URL},
			#{BOOK_TB_CNT_URL},
			#{BOOK_INTRODUCTION_URL},
			#{BOOK_SUMMARY_URL},
			#{PUBLISHER_URL},
			#{INPUT_DATE},
			#{UPDATE_DATE}
		)
	</insert>
	
	<select id="getStoredBook" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM book_storage WHERE book_no=#{bookNo}
	</select>
	
	<select id="notStoredBookList" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM book_not_stored_view
	</select>
	
	<insert id="insertStorageBook" parameterType="HashMap">
		INSERT INTO book_storage (book_no, max_count, loan_count, reserve_count)
		VALUES (#{bookNo}, #{maxCount}, 0, 0)
	</insert>
	
	<update id="updateStoredBook" parameterType="HashMap">
		UPDATE book_storage SET max_count=#{maxCount} WHERE book_no=#{bookNo}
	</update>
	
	<select id="bookLoanListByMemberNo" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM book_loan_view WHERE member_no=#{memberNo}
	</select>
</mapper>