<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
	
	<!-- 게시글 불러오기, 페이징, 검색 -->
	<select id="boardList" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM board_view
		
		<if test="searchCondition == 'title' and searchKeyword != null">
			WHERE title LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
		
		<if test="searchCondition == 'content' and searchKeyword != null">
			WHERE content LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
		
		LIMIT #{startPage }, #{lastPage }
	</select>
	
	<!-- 페이징 totalCount -->
	<select id="totalCount" parameterType="HashMap" resultType="HashMap">
		SELECT count(*) as totalCount FROM board_view
		
		<if test="searchCondition == 'title' and searchKeyword != null">
			WHERE title LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
		
		<if test="searchCondition == 'content' and searchKeyword != null">
			WHERE content LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="detail" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM board_view WHERE no=#{no}
	</select>
	
	<!-- 이전글 다음글 -->
	<select id="preNextPage" parameterType="HashMap" resultType="HashMap">
		SELECT b.* FROM (
		SELECT no, title, 
		LAG(no) OVER(ORDER BY no) AS preNum, 
		LAG(title) OVER(ORDER BY title) AS preTitle, 
		LEAD(no) OVER(ORDER BY no) AS nextNum, 
		LEAD(title) OVER(ORDER BY title) AS nextTitle 
		FROM board_view) b 
		WHERE b.no = #{no}
	</select>
	
	<!-- 게시글 글쓰기 -->
	<insert id="write" parameterType="HashMap">
		INSERT INTO board (title, content, member_no) 
		VALUES (#{title}, #{content}, (SELECT no FROM member WHERE id=#{id}))
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="HashMap">
		DELETE FROM board WHERE no=#{no} AND member_no=(SELECT no FROM member WHERE id=#{id})
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="HashMap">
		UPDATE board SET title=#{title}, content=#{content} WHERE no=#{no} AND member_no=(SELECT no FROM member WHERE id=#{id})
	</update>
	
	<!-- 게시글 조회수 -->
	<update id="count" parameterType="HashMap">
		UPDATE board SET count = count + 1 WHERE no=#{no}
	</update>
	
	<!-- 게시물 댓글 불러오기 -->
	<select id="boardCommentList" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM board_comment_view WHERE no=#{no} LIMIT #{commentStartPage }, #{commentLastPage }
	</select>
	
	<!-- 페이징 totalCount (댓글) -->
	<select id="commentTotalCount" parameterType="HashMap" resultType="HashMap">
		SELECT count(*) as commentTotalCount FROM board_comment_view
	</select>
	
	<!-- 게시물 댓글쓰기 -->
	<insert id="commentWrite" parameterType="HashMap">
		INSERT INTO board_comment (comment, no, member_no) 
		VALUES (#{comment}, #{no}, (SELECT no FROM member WHERE id=#{id}))
	</insert>
	
	<!-- 게시물 댓글삭제 -->
	<delete id="commentDelete" parameterType="HashMap">
		DELETE FROM board_comment WHERE comment_no=#{comment_no} AND member_no=(SELECT no FROM member WHERE id=#{id})
	</delete>
	
	<!-- 게시물 댓글수정 -->
	<update id="commentUpdate" parameterType="HashMap">
		UPDATE board_comment SET comment=#{comment} WHERE comment_no=#{comment_no} AND member_no=(SELECT no FROM member WHERE id=#{id})
	</update>
	
	
</mapper>