<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ebook">
	<select id="getEbookList" resultType="ebookDTO"
		parameterType="HashMap">
		SELECT
		(SELECT count(1) FROM book
		<if test="searchValue != null"> WHERE ${searchTarget} LIKE '%${searchValue}%'
		</if>
		) AS totalCount,
		no,
		title,
		title_url,
		author,
		datetime,
		publisher,
		isbn
		FROM book
		<if test="searchValue != null"> WHERE ${searchTarget} LIKE '%${searchValue}%'
		</if>
		LIMIT #{startPage}, #{lastPage}
	</select>

	<select id="getEbookListByTitle" resultType="ebookDTO">
		SELECT * FROM book
		WHERE title=#{title}
	</select>

	<select id="getEbookByISBN" resultType="ebookDTO">
		SELECT * FROM book WHERE
		isbn=#{isbn}
	</select>

	<insert id="insertBook" parameterType="ebookDTO">
		INSERT INTO book (
		title,
		title_url,
		author,
		publisher,
		isbn,
		datetime,
		price,
		page,
		book_size
		)
		VALUES (
		#{title},
		#{title_url},
		#{author},
		#{publisher},
		#{isbn},
		#{datetime},
		#{price},
		#{page},
		#{book_size}
		)
	</insert>

	<select id="getEbookByNo" resultType="ebookDTO"
		parameterType="int">
		SELECT * FROM book WHERE no=#{bookNo}
	</select>

	<select id="getEbookDetail" resultType="ebookDTO"
		parameterType="String">
		SELECT
		no,
		title,
		title_url,
		author,
		publisher,
		isbn,
		datetime,
		price,
		page,
		book_size
		FROM book WHERE isbn=#{isbn}
	</select>
	<insert id="insertReview" parameterType="ebookReviewDTO">
		INSERT INTO book_review
		(
		book_no,
		member_no,
		rating,
		reviewCmt
		)
		VALUES (
		#{book_no},
		(SELECT no FROM
		member WHERE id=#{id}),
		#{rating},
		#{reviewCmt}
		)
	</insert>
	<select id="reviewList" resultType="EbookReviewDTO"
		parameterType="Integer">
		SELECT (SELECT count(1) FROM book_review WHERE book_no=#{bookno}) AS reviewCount,
		ROUND((SELECT AVG(rating) FROM book_review WHERE book_no = #{bookno}),0) AS ratingSum, 
		review_no, 
		book_no,
		rating, 
		reviewCmt, 
		date, 
		id, 
		name 
		FROM book_reviewview WHERE
		book_no=#{bookno}
	</select>

	<select id="getNewList" resultType="EbookDTO"
		parameterType="String">
		SELECT * FROM book_view GROUP
		BY datetime ORDER BY
		COUNT(*) DESC
		LIMIT 5
	</select>
	
	<update id="setEbookThumbnail" parameterType="ebookDTO">
		UPDATE book SET title_url=#{title_url} WHERE no=#{no}
	</update>
	
	<select id="reviewCount" parameterType="HashMap" resultType="Integer">
		SELECT count(1) FROM book_reviewview WHERE id=(SELECT id FROM member WHERE no=#{memberNo})
	</select>
	
	<select id="getReviewListByMemberNo" resultType="EbookReviewDTO"
		parameterType="Integer">
		SELECT (SELECT count(1) FROM book_reviewview WHERE id=(SELECT id FROM member WHERE no=#{memberNo})) AS reviewCount, 
		review_no, 
		book_no,
		title_url,
		title,
		author,
		rating, 
		reviewCmt, 
		date, 
		id, 
		name 
		FROM book_reviewview 
		WHERE id=(SELECT id FROM member WHERE no=#{memberNo})
	</select>
</mapper>