<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="loan">
	<insert id="insertLoan" parameterType="hashmap">
		INSERT INTO book_loan (book_no, member_no, state, return_date)
		VALUES (#{bookNo}, #{memberNo}, 0, DATE_ADD(NOW(), INTERVAL 5 DAY))
	</insert>
	
	<insert id="insertLoanHistory" parameterType="hashmap">
		INSERT INTO book_loan_history (book_no, member_no, state)
		VALUES (#{bookNo}, #{memberNo}, #{state})
	</insert>
	
	<update id="extendLoan" parameterType="hashmap">
		INSERT INTO book_loan (book_no, member_no, state, return_date)
		VALUES (#{bookNo}, #{memberNo}, 0, DATE_ADD(return_date, INTERVAL 1 DAY))
	</update>
	
	<insert id="insertReserve" parameterType="hashmap">
		INSERT INTO book_loan (book_no, member_no, state, reserve_date, loan_date)
		VALUES (#{bookNo}, #{memberNo}, 1, NOW(), #{reservedLoanDate})
	</insert>
	
	<update id="updateLoanByNo" parameterType="loanDTO">
		UPDATE book_loan SET state=#{state}, loan_date=#{loan_date}, reserve_date=#{reserve_date}, return_date=#{return_date} WHERE no=#{no}
	</update>
	
	<select id="getLoanByNo" resultType="loanDTO" parameterType="int">
		SELECT * FROM book_loan WHERE no=#{no}
	</select>
	
	<select id="getViewListByMemberNo" resultType="loanViewDTO" parameterType="hashmap">
		SELECT * FROM book_loan_view WHERE member_no=#{memberNo}
		<if test="state != null">
			AND state=#{state} 
		</if>
	</select>
	
	<select id="getViewPagingListByMemberNo" resultType="loanViewDTO" parameterType="hashmap">
		SELECT * FROM book_loan_view WHERE member_no=#{memberNo}
		<if test="state != null">
			AND state=#{state} 
		</if>
		ORDER BY loan_date DESC
		LIMIT #{startPage}, #{lastPage}
	</select>
	
	<select id="getViewMapListByMemberNo" resultType="hashmap" parameterType="int">
		SELECT * FROM book_loan_view WHERE member_no=#{memberNo}
	</select>
	
	<select id="getRecentlyViewList" resultType="hashmap" parameterType="int">
		SELECT h.book_no, b.title, b.author, h.date, h.state FROM (book_loan_history h JOIN book b ON h.book_no = b.`no`) ORDER BY h.date DESC LIMIT #{limitCount}
	</select>
	
	<select id="getLoanListByBookNo" resultType="loanDTO" parameterType="hashmap">
		SELECT * FROM book_loan WHERE book_no=#{bookNo} AND state=#{state}
	</select>
	
	<select id="getLoanByMemberNoAndBookNo" resultType="loanDTO" parameterType="hashmap">
		SELECT * FROM book_loan WHERE member_no=#{memberNo} AND book_no=#{bookNo}
		<if test="state != null">
			AND state=#{state}
		</if>
	</select>
	
	<select id="getLoanByBookNo" resultType="loanDTO" parameterType="hashmap">
		SELECT * FROM book_loan WHERE book_no=#{bookNo} AND state=#{state} ORDER BY return_date ASC
	</select>
	
	<select id="getReserveByBookNo" resultType="loanDTO" parameterType="int">
		SELECT * FROM book_loan WHERE book_no=#{bookNo} AND state=1
	</select>
	
	<select id="getNeedAutoReturnList" resultType="loanDTO">
		SELECT * FROM book_loan WHERE state=0 AND return_date <![CDATA[<=]]> NOW()
	</select>
	
	<select id="totalCount" parameterType="HashMap" resultType="HashMap">
		SELECT count(*) as totalCount FROM book_loan_view WHERE member_no=#{memberNo}
	</select>
	
	<select id="ltotalCount" parameterType="HashMap" resultType="HashMap">
		SELECT count(*) as ltotalCount FROM book_loan_view WHERE member_no=#{memberNo} AND state=0
	</select>
	
	<select id="reserveCount" parameterType="HashMap" resultType="HashMap">
		SELECT count(*) as reserveCount FROM book_loan_view WHERE member_no=#{memberNo} AND state=1
	</select>
	
	<select id="todayLoanCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM book_loan_history WHERE state=#{state} AND date >= CURDATE()
	</select>
</mapper>