<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	
	<!-- 게시글 불러오기, 페이징, 검색 -->
	<select id="noticeList" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM notice_view
		
		<if test="searchCondition == 'title' and searchKeyword != null">
			WHERE title LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
		
		<if test="searchCondition == 'content' and searchKeyword != null">
			WHERE content LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
		
		LIMIT #{startPage }, #{lastPage }
	</select>
	
	<select id="totalCount" parameterType="HashMap" resultType="HashMap">
		SELECT count(*) as totalCount FROM notice_view
		
		<if test="searchCondition == 'title' and searchKeyword != null">
			WHERE title LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
		
		<if test="searchCondition == 'content' and searchKeyword != null">
			WHERE content LIKE CONCAT('%', #{searchKeyword }, '%')
		</if>
	</select>
	
	<!-- 게시글 상세보기 -->
	<select id="detail" parameterType="HashMap" resultType="HashMap">
		SELECT n.* FROM (
		SELECT no, title, content, date, count, file, id, name, member_no, 
		LAG(no) OVER(ORDER BY no) AS preNum, 
		LAG(title) OVER(ORDER BY title) AS preTitle, 
		LEAD(no) OVER(ORDER BY no) AS nextNum, 
		LEAD(title) OVER(ORDER BY title) AS nextTitle 
		FROM notice_view) n 
		WHERE n.no = #{no}
	</select>
	
	<!-- 게시글 글쓰기 (로그인한 사람만) -->
	<insert id="write" parameterType="HashMap">
		INSERT INTO notice (title, content, member_no) 
		VALUES (#{title}, #{content}, (SELECT no FROM member WHERE id=#{id}))
	</insert>
	
	<!-- 게시글 삭제 (본인글만 삭제) -->
	<delete id="delete" parameterType="HashMap">
		DELETE FROM notice WHERE no=#{no} AND member_no=(SELECT no FROM member WHERE id=#{id})
	</delete>
	
	<!-- 게시글 수정 (본인글만 수정) -->
	<update id="update" parameterType="HashMap">
		UPDATE notice SET title=#{title}, content=#{content} WHERE no=#{no} AND member_no=(SELECT no FROM member WHERE id=#{id})
	</update>
	
	<!-- 게시글 조회수 -->
	<update id="count" parameterType="HashMap">
		UPDATE notice SET count = count + 1 WHERE no=#{no}
	</update>
	
</mapper>