@charset "UTF-8";

ul, ol, dl, li, dt, dd {
	box-sizing: border-box;
}

.summary_wrap {
	border: 1px solid #ccc;
}

.summary_wrap ul:after {
	clear: both;
	display: block;
	content: "";
}

.summary_wrap li {
	float: left;
	width: 25%;
}

.summary_wrap dl {
	text-align: center;
}

.box_wrap {
	padding: 15px 20px;
}

.contents h3 {
	margin: 20px 0 5px 0;
	font-weight: bold;
	text-align: center;
}

.data_empty {
	margin-top: 10px;
	text-align: center;
}