@charset "UTF-8";

.table_search th {
	height: 40px;
}

.table_search select {
	margin-left: 10px;
	width: 10%;
	border: 1px solid #ccc;
}

.table_search input {
	width: 85%;
	border: 1px solid #ccc;
}

.search_btns {
	margin-top: 10px;
	text-align: center;
}

.search_btns > button:first-child {
	border: 1px solid #525f78;
	background-color: #525f78;
	color: #fff;
}

.search_btns > button:last-child {
	border: 1px solid #dcdcde;
	background-color: #FFFFFF;
	color: $666666;
}

.util_left_btns {
	float: left;
	margin-top: 10px;
	text-align: left;
}

.util_right_btns {
	margin-top: 10px;
	text-align: right;
}

.table_list input {
	width: 100%;
}