@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

html {
	font-family: 'Nanum Gothic', sans-serif;
	color: black;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

header {
	margin: 0 auto;
	height: 130px;
	background: white;
}

aside {
	float: left;
	width: 240px;
	height: 500px;
	background: #white;
}

main {
	float: left;
	margin: 10px 0 50px 10px;
	width: 750px;
	height: auto; /* 수정 */
	background: white;
}

footer {
	clear: both;
	margin: 0 auto;
	height: 100px;
	background: #cee5fe;
}

#pagination {
	text-align: center;
	margin-top: 20px;
}

/* 화면 너비 0 ~ 960px */
@media (max-width: 960px) {
	.container {
		width: 100%;
	}
	
	.row {
		padding: 0 15px; 
	}
}